<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Library resources</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    <div class="container">
      <div id="app">
        <h1>{{ title }}</h1>
        <select @change="filterList">
          <option value="">Select type of media</option>
          <option v-for="product in uniqueItemsList">{{ product }}</option>
        </select>
        <ul>
          <li v-show="type === '' || type === item.type"
              v-for="item in mediaList"
              @click="toggleDetail(item)"
              :class="[{arrowTop: item.showDetail, arrowDown: !item.showDetail}, item.type]">
            <h3> {{ item.title }}</h3>
            <div v-show="item.showDetail">
              <p>{{ item.description }}</p>
              <p v-if="item.contributor" >By: {{ item.contributor }}</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="js/app.js" type="text/javascript"></script>
  </body>
</html>
